# Python-related
*.pyc
*.pyo
__pycache__/
*.pyd
*.pdb

# Environment-related
.env
*.env
venv/
.venv/
env/
ENV/

# Dataset files
*.csv
data/
datasets/

# Model files
*.h5
*.pkl
*.joblib

# Logs and debug files
*.log
logs/

# IDE-specific
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# OS-specific
.DS_Store
Thumbs.db

# Docker-related
.dockerignore
app/templates/suggestion.html
*png
*.whl